---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import joseph from "../assets/joseph.jpg";
import ProjectElement from "../components/project__element.astro";
import Button from "../components/button.astro";
import EventElement from "../components/event__element.astro";
import work from "../assets/work.svg";
import about from "../assets/about.svg";
import project from "../assets/project.svg";
---

<Layout>
  <!-- Presentación -->

  <section
    class:list={"presentation__container h-screen flex flex-col justify-center"}
    data-aos="fade-up"
  >
    <div class="flex items-center space-x-4 mb-16">
      <Image
        src={joseph}
        alt={"foto de perfil"}
        class={"w-[5rem] h-[5rem] rounded-full aspect-video"}
      />
      <p
        class="font-secondary text-sm px-3 py-1 bg-[#1F2936] rounded-full border-b-[1px] border-t-[1px] border-[#29655C] hover:scale-105 transition-transform cursor-pointer"
      >
        Disponible para trabajar
      </p>
    </div>
    <h1 class="text-3xl md:text-5xl font-funny font-bold mb-5">
      Hola, <span class="text-yellow-400">soy Joseph</span>
    </h1>
    <p class="text-md md:text-lg mb-5">
      +2 años de experiencia. <span
        class="text-yellow-400 font-semibold text-lg md:text-xl font-header"
        >Futuro Ingeniero de Software de Perú <small>pe</small>.</span
      >
      Especializado en el desarrollo de aplicaciones web atractivas e innovadoras
    </p>
    <div class="flex">
      <Button
        text="Contáctame"
        url="https://wa.me/945515528?text=Hola,%20quiero%20más%20información."
        iconName="whatsapp"
      />
      <Button
        text="LinkedIn"
        url="https://linkedin.com/in/joseph-dyron-huayra-puma-324079331"
        iconName="linkedin"
      />
    </div>
  </section>
  <!-- Experiencia Laboral -->
  <section
    id="experience"
    class:list={"experience__container h-[150vh] md:h-screen flex items-center flex-col justify-center mb-16"}
  >
    <div data-aos="fade-up" class="w-full flex items-center mb-12">
      <Image
        class:list={"mr-3"}
        src={work}
        alt={"Work"}
        width={32}
        height={32}
      />
      <h2 class="text-start text-xl md:text-3xl font-bold font-header">
        Experiencia laboral
      </h2>
    </div>
    <div class="container mx-auto px-4 py-8">
      <div class="relative flex flex-col items-center">
        <!-- Línea central -->
        <div
          class="absolute left-0 md:left-1/2 h-full w-1 -translate-x-1/2 bg-yellow-400"
        >
        </div>

        <EventElement
          number="1"
          title="Inicio del Proyecto"
          date="Enero 2023"
          description="Comenzamos a planificar el proyecto y definir los objetivos principales."
          direction="left"
        />

        <EventElement
          number="2"
          title="Diseño del Producto"
          date="Marzo 2023"
          description="Se completaron los diseños iniciales para la interfaz de usuario."
          direction="right"
        />

        <EventElement
          number="3"
          title="Desarrollo"
          date="Junio 2023"
          description="Iniciamos el desarrollo utilizando las tecnologías seleccionadas."
          direction="left"
        />

        <EventElement
          number="4"
          title="Lanzamiento"
          date="Diciembre 2023"
          description="Lanzamos el producto al mercado con éxito."
          direction="right"
        />
      </div>
    </div>
  </section>
  <!-- Proyectos -->
  <section
    class:list={"projects__container h-[150vh] md:h-screen flex items-center flex-col justify-center mb-10"}
    id="projects"
  >
    <div data-aos="fade-up" class="w-full flex items-center mb-12">
      <Image
        class:list={"mr-3"}
        src={project}
        alt={"project"}
        width={32}
        height={32}
      />
      <h2 class="text-start text-xl md:text-3xl font-bold font-header">
        Proyectos
      </h2>
    </div>
    <ProjectElement
      image="codeclimber"
      title="Code Climber"
      languages={["HTML", "JavaScript", "TailwindCss", "Laravel", "Mysql"]}
      text="Plataforma web educativa que ofrece cursos gratuitos y de pago, con métodos de aprendizaje variados (textuales, auditivos, visuales) y herramientas interactivas como exámenes"
      githubLink="https://github.com/GDayronHP/CodeClimber.git"
    />

    <ProjectElement
      image="fastquiz"
      title="FastQuiz"
      languages={["React", "Css", "Django", "Mysql"]}
      text="Plataforma web que ofrece la posibilidad de crear cuestionarios de forma rápida y sencilla mediante el uso de IA, con la posibilidad de compartirlos con otros usuarios"
      githubLink="https://github.com/GDayronHP/FastQuiz.git"
    />
  </section>
  <!-- Sobre mí -->
  <section
    class:list={"about__container mb-16 h-[150vh] md:h-screen flex flex-col justify-center"}
    id="about"
  >
    <div data-aos="fade-up" class="w-full flex items-center mb-12">
      <Image
        class:list={"mr-3"}
        src={about}
        alt={"about"}
        width={32}
        height={32}
      />
      <h1 class="text-start text-xl md:text-3xl font-bold font-header">
        Sobre mí
      </h1>
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-3 place-items-center font-body text-sm md:text-base"
    >
      <div class="mb-12 md:mr-12 col-span-2">
        <p data-aos="fade-up" class="block">
          Soy Joseph Huayra, un desarrollador frontend apasionado por la
          creación de interfaces web modernas y funcionales. Tengo experiencia
          trabajando con tecnologías como <span
            class="text-yellow-400 font-header"
            >HTML, CSS, JavaScript, y frameworks como Astro, React, Laravel y
            TailwindCSS</span
          >. Además, tengo conocimientos básicos en backend con PHP y Node.js,
          lo que me permite tener una visión integral del desarrollo web.
        </p><br />
        <p data-aos="fade-up" class="block">
          Me destaco por mi capacidad para colaborar en equipo, habiendo
          trabajado con <span class="text-yellow-400 font-header"
            >metodologías ágiles como Scrum</span
          > para asegurar el cumplimiento de plazos y objetivos. También <span
            class="text-yellow-400 font-header"
            >cuento con experiencia utilizando Figma</span
          > para transformar diseños visuales en interfaces interactivas y de alto
          rendimiento, garantizando una excelente experiencia de usuario.
        </p><br />
        <p data-aos="fade-up" class="block">
          Actualmente, estoy enfocado en mejorar mi capacidad para ofrecer
          soluciones técnicas de manera más rápida y eficiente. Aunque me gusta
          abordar los problemas con un enfoque detallado, estoy aprendiendo a
          equilibrar la profundidad del análisis con la rapidez necesaria para
          aportar valor en equipos dinámicos.
        </p>
      </div>
      <Image
        src={joseph}
        alt={"foto de perfil"}
        class={"w-72 md:w-56 bg-cover rounded-lg outline outline-2 outline-offset-4 outline-lime-400 shadow-[0_0_100px_15px_transparent] rotate-6 hover:scale-125 hover:-rotate-6 hover:brightness-110 hover:shadow-lime-400/35 transition-all"}
      />
    </div>
  </section>
</Layout>
