---
import { Image } from "astro:assets";

const { image, title, languages, text, githubLink } = Astro.props;

// Función asíncrona para obtener los datos de la API
// const searchIcon = async (language) => {
//   const res = await fetch(`https://api.svgl.app?search=${language}`);
//   const data = await res.json();
//   console.log(data[0].route); 
// };


---

<!-- Se mostrará un proyecto -->
<div class="flex w-full items-center justify-between">
  <!-- Imagen -->
  <div>
    <img class="w-36 h-auto" src={`src/assets/images/${image}.webp`} alt={image} />
  </div>
  <div>
    <h2>{title}</h2>
    <div class="flex"> 
    {languages.map((language) => (
      <Image src={`/src/assets/images/languages/${language}.svg`} alt={language}   width={20} 
      height={20} />
        <span>{language}</span>
      
    ))}
    </div>
    <p>{text}</p>
    <button>
      <a href={githubLink}>Code</a>
    </button>
  </div>
  <!-- Información -->
</div>
